body {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: rgb(80, 82, 84);
/* background-color: #232927; */
background-size: 100px 100px;
}
hr{
    height: 20px;
    width: 100%;
    background-color: #b2b2b2;
    box-shadow: 0px 0px 12px 1px #080F02;

}
a,p,h1,h2,h3,h4,h5{
    text-align: center;
    /* alternate */
    /* color: white  */
}
img {
    min-height: 500px;
    /* height: 100%; */
    width: 100%; 
}
.top {
    width: 100%;
    background-color: #b3c0b8;
    border-radius: 40px;
    box-shadow: 0px 0px 42px 5px #080F02;
    /* opacity: 40%; */
    /* alternate */
    /* background-color: #194329; */
    /* background:
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
background-color: #840b2a; */
}
.heading_block{
    max-height: 90%; 
    color: rgb(14, 10, 10)
}
.flex_wrappertop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-size: .8 rem;
    gap: 10%;
    
}
.flex_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 97%;
    height: 100%;
    gap: 1%;

}
.border {
    box-shadow: 0px 0px 42px 5px #080F02;

}
.main_picture_div {
    width: 20%;
    padding-top: 0%;
    align-items: center;
    justify-content: center; 
    
}
.main_jpg {
    width: 100%;
    height: 100%;
    padding: 40px;
    opacity: 0.8;
    border-radius: 50px;
    opacity: .7;
}
.portfolio {
    background-color: rgb(249, 225, 192);
    /* alternate   */
    /* background-color: rgb(72, 44, 4); */
    /* background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px; */

    min-height: 1000px;
    width: 100%;

    }
ul{
    display:flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
    background-color: rgb(249, 225, 192)
}
li {
    list-style: none;
}
div{
    padding-left: 1%;
    padding-right: 2%;
}
footer {
    min-height: 100px;
    background-color: #b3c0b8;
    padding-top: 1%;
  }