<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>About - Malcolm Vernon</title>
</head>
<body>

    <header class = "border">
        <nav>
            <ul>
                <li><a href= "/"  >Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
     </header>
    <section class = "top">
    <div class=flex_wrappertop>
        <div class="main_picture_div">
            <div>
            <img class="main_jpg" src="/static/profile.jpg">   
        </div>
        </div>
        <div class = "heading_block">
            <h3 > Malcolm Vernon</h3>
            <div ></div>
            <h1>Jr Full Stack Developer & SEO</h1>
            <h4>Largo,FL</h4>
            <p>Python | Flask | HTML | JavaScript | .Liquid(Shopify)
        </div>
        <div><p style="Display:none;">Hello Im currently working through </p></div>
        <div></div>

    </div>

</section>
<p class = "border" style = "padding: 10px; text-align: center; background-color:bisque;">Programming and SEO 24/7 ;)</p>
<section class = "portfolio border">
    <h1 style = " background-color: rgb(227, 234, 227); ">About</h1>
             <div class="flex_wrapper">
                <div style = "flex:1; ">            
                    <p style = "background-color: rgb(255, 255, 255);">If you are reading this you must be dying to know more about me! ;)</p>
                    <br>
                    <p>I'm self taught in Python and the Flask framework, and currently doing a Fullstack JavaScript Course. I often use Python + Selenium + Spacy for document processing and SEO work, as well as REGX expressions, pickle files, and xls processing to accomplish my goals</p><p>Working on building up my shopify .liquid knowledge to launch my own applications. Im also intrested in Solidity and Machine Learning.</p>
                    <br>
                    <p>Going Back: </p>
                    <p>I was enlisted in the United States Air Force from 2007 - 2014 as a Nuclear Missile Maintenance Technician. Upon completion of my enlistment - I enrolled in the University of Colorado Denver where I completed 2 years worth of my Electrical Engineering Degree. Associates in Electictrial Engineering Technology. I started working as an SEO for 3 1/2 years. I'm Currently attending a FullStack Programming bootcamp to expand my my programming skill which will include Express.js, React.js, and Node.js, and PostgreSql.
                    </p>
                </div>
                <div style = "min-width:20%;"><img src="/static/minuteman.jpg"></div>
            </div>  
</section>
<footer><p>Contact: Form comming Soon</p></footer>
</body>

</html>