<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>About - Malcolm Vernon</title>
</head>
<body >

    <header class = "border">
        <nav>
            <ul class="ul-top li-top">
                <li><a href= "/"  >Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
     </header>
    <section class = "top">
    <div class=flex_wrappertop >
        <div class="main_picture_div">
            <div>
            <img class="main_jpg" src="/static/profile.jpg">   
        </div>
        </div>
        <div class = "heading_block">
            <h3 > Malcolm Vernon</h3>
            <div ></div>
            <h1>Jr Full Stack Developer & SEO</h1>
            <h4>Largo,FL</h4>
            <p>Python | Flask | HTML | JavaScript | REACT| REDUX .Liquid(Shopify)</p>
            <h5>Additional : Learning Express, React, PostgreSql</h5>
        </div>
        <div><p style="Display:none;">Hello Im currently working through </p></div>
        <div></div>

    </div>

</section>
<p class = "border" style = "padding: 10px; text-align: center; background-color:bisque;">Programming and SEO 24/7 ;)</p>
<section class = "portfolio border" style="background-color: aliceblue;">
    <h1 style = " background-color: rgb(227, 234, 227); ">LeetCODE</h1>
             <div style = "font-size: 1rem;">
                <div style="display:flex">            
                    {% block content %}
                    {% endblock content %}
                </div>
                <div></div>
            </div>  
</section>
<footer><p>Contact: Form comming Soon</p></footer>
</body>

</html>