<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <title>Portfolio - Malcolm Vernon</title>
</head>
   
    

<body>

    <header class = "border">
        <nav>
            <ul>
                <li><a href= "/"  >Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
     </header>
    <section class = "top">
    <div class=flex_wrappertop>
        <div class="main_picture_div">
            <div>
            <img class="main_jpg" src="/static/profile.jpg">   
        </div>
        </div>
        <div class = "heading_block">
            <h3 > Malcolm Vernon</h3>
            <div ></div>
            <h1>Jr Full Stack Developer & SEO</h1>
            <h4>Largo,FL</h4>
            <p>Python | Flask | HTML | JavaScript </p>
        </div>
        <div><p style="Display:none;">Hello Im currently working through </p></div>
        <div></div>

    </div>

</section>

<p class = "border" style = "padding: 10px; text-align: center; background-color:bisque;">Programming and SEO 24/7 ;)</p>

<section class = "portfolio border">
    <h1 style = " background-color: rgb(227, 234, 227); ">Portfolio</h1>
         
             <div class="flex_wrapper">
                <div style = "widfth:40%; flex:1; ">            
                    <h2 style = "margin-bottom: 10%;"><a href=https://www.flightticketfinder.com>Flight Ticket Finder</a></h2><p style = "background-color: rgb(255, 255, 255);"><b>Stack:</b>  Python, Flask, CSS, JavaScript</p>
                    <p style = "background-color: rgb(255, 255, 255);"><b>Description: </b>Flight Ticket Finder is a FullStack website I made with Python and Flask for the back-end. &nbsp;The front-end utilizes vanilla Javascript and CSS. My goal here was to make a live application, that I could practice my developer skills on and also currently working to Rank on Google.&nbsp;Currently deployed on Pythonanywhere.com. Only thing not programmed by me is the flight widget.</p>
                </div>
                <div style = "min-width:20%;"><img src="/static/flightticketfinder.png"></div>
            </div>
            <div><hr></div>
            <div  class="flex_wrapper">
                <div style = "widfth:40%; flex:1;">            
                    <h2 style = "margin-bottom: 10%;"><a href=https://rockygreenking.com>RockyGreenking</a></h2>
                    <p style = "background-color: aliceblue;"><b>Stack:</b>Shopify + custom JavaScript, CSS</p>
                    <p style = "background-color: aliceblue;"><b>Description: </b>RockyGreenKing.com is a Shopify Website for smoking pipes that I launched in 2017. My pure focus on this site was generating SEO traffic. Site Includes, customized dropdowns and CSS that I programmed in for enhanced functionality.The site currently generates 7,000 Unique visits a month and about $1000-$3000 in monthly sales.&nbsp;</p>
                    
                </div>
                <div style = "max-width:60%;"><img src="/static/rocky.png"></div>
            </div>
            <div><hr></div>
            <div  class="flex_wrapper">
                <div style = "widfth:40%; flex:1;">            
                    <h2 style = "margin-bottom: 10%;"><a href=https://github.com/apophis51/Malcolm_chrome_extention>Matrix Widget</a></h2>
                    <p style = "background-color: aliceblue;"><b>Stack:</b>JavaScript & CSS Injection + Chrome Widget</p>
                    <p style = "background-color: aliceblue;"><b>Description: </b>This is my first attempt at creating a Google Chrome Widget. It will inject an annoying Matrix background into any page you visit (but might be cool if you like that ;) ) The instalation instructions are included in the readme when you click my github repo link</p>
                    
                </div>
                <div style = "max-width:60%;"><img src="/static/google.png"></div>
            </div>
  
</section>
<footer><p>Contact: Form comming Soon</p></footer>

</body>

</html>