<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

</head>
<body>
    <p>hello</p>
    <div style= 'display: flex; align-items: center; justify-content: center;'><p class="typed"></p></div>
    
    <script>var typed = new Typed('.typed',{ 
        strings: ['<a href="leetcode.com">Open for Hire!</a>',' a secon'],
        typeSpeed: 200,
        loop: true
    } )
    let typed2 = new Typed('.typed2', {
  strings: ['git push --force ^1000\n `pushed to origin with option force`']
});
</script>
</body>
</html>