<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/prism.js" defer></script>
    <link rel="stylesheet" href="/static/prism.css">
    <title>Document</title>
</head>
<body style =  "text-align: center;">
<h1>Git Notes and VS code CILI</h1>
<ul>
    <li>Information on <a href = "https://code.visualstudio.com/docs/editor/command-line">VSCODE command line CLI is here</a></li>
    <li>Information On <a href = "https://prismjs.com/plugins/command-line/" > how to use the command line with Prism</a></li>
</ul>
<h2 style = "background-color: aqua; display: flex;">VS code Notes</h2>
<h3 style = "background-color: rgb(248, 186, 239); min-height: 50px; display: flex;">Launching from command line</h3>


<div style = "background-color: antiquewhite; min-height: 50px; display:flex"><p>This will launch VS code from the command line</p></div>
<pre class="command-line language-bash" ldata-user="root" data-host = "localhost"><code>code .</code></pre>
<pre class = "language-css"><code>p {display: test;}</code></pre>


<h2 style = "background-color:antiquewhite; display: flex;">Notes on how to excape<a href = "https://stackoverflow.com/questions/14559436/prism-html-highlighter">html</a></h2>
<pre class = "language-markup"><code>&lt;div>&lt;/div></code></pre>
<div style = "background-color: antiquewhite; min-height: 50px; display:flex"><p>This is how you can find out how much memory your javascript program is using</p></div>
<pre class="language-javascript" ldata-user="root" data-host = "localhost"><code>window.performance.memory</code></pre>
<h2 style = "background-color:antiquewhite; display: flex;">Great resource on<a href = "http://git.fullstackacademy.com/" >Git from fullstack academy</a></h2>






<!-- class notes start here 2/28/2023 -->










<h2 style = "background-color: rgb(254, 76, 118); display: flex; min-height: 200px;">Class Notes 2/28/2023 Notes</h2>

<h2 style = "background-color: rgb(167, 251, 141); display: flex;">CSS code Notes</h2>
<!-- 
CSS NOTES


 -->

<div style = "background-color: antiquewhite; min-height: 50px; display:flex"><p>This is a CSS Note</p></div>
<pre class = "language-css"><code>p {display: test;}</code></pre>
<!-- 
HTML NOTES


 -->


<h2 style = "background-color: rgb(167, 251, 141); display: flex;">HTML code Notes</h2>
<div style = "background-color: antiquewhite; min-height: 50px; display:flex"><p>This is an HTML Note</p></div>
<pre class = "language-markup"><code>&lt;div>&lt;/div></code></pre>
<div style = "background-color: antiquewhite; min-height: 50px; display:flex"><p>There are inlilne and block elements</p></div>
<pre class = "language-markup"><code>&lt;p>Span tags are&lt;span>Inline elements&lt;/span>&lt;/p></code></pre>








<!-- 
Javascript NOTES


 -->

<h2 style = "background-color: rgb(167, 251, 141); display: flex;">Javascript Notes</h2>

<div style = "background-color: antiquewhite; min-height: 50px; display:flex"><p>This is a JavaScript Note</p></div>
<pre class="language-javascript" ldata-user="root" data-host = "localhost"><code>window.performance.memory</code></pre>


<!-- 
Bash NOTES


 -->
<h2 style = "background-color: rgb(167, 251, 141); display: flex;">Bash Notes</h2>

<div style = "background-color: antiquewhite; min-height: 50px; display:flex"><p>This is a Bash Note</p></div>
<pre class="command-line language-bash" ldata-user="root" data-host = "localhost"><code>code .</code></pre>
















<p>Random Text</p>

<!-- //class notes end here 2/28/2023 -->

</body>
</html>